.secondary-sidebar-content .element-image-block {
    min-height: 100px;
    max-height: 100px;
}

.secondary-sidebar-content {
    font-weight: 600;
    /* background: ; */
}

.tooltip-child {
    opacity: 0; /* define initial transition property */
    -webkit-transition: all 0.2s ease-in-out; /* define transitions */
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.tooltip-parent:hover .tooltip-child {
    opacity: 1;
    z-index: 1;
}
