.App {
  text-align: center;
}

#main-two-root svg {
  background: #f4f5f7;
  z-index: -1;
}

#rsz-rect {
  position: absolute;
  background: transparent;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  opacity: 0;
}

text
// g
// path
{
  cursor: pointer !important;
  font-family: "Noto Sans JP", sans-serif;
}

button:focus {
  outline: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.temp-input-area-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 16px;
  resize: none;
  outline: none !important;
}

.temp-input-area {
  background: transparent;
  border: none;
  color: #000;
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 16px;
  resize: none;
  outline: none !important;
  line-height: 1.5rem;
}

.temp-textarea {
  background: transparent;
  border: none;
  color: #000;
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-size: 16px;
  resize: none;
  outline: none !important;
  line-height: 1.5rem;
  overflow-y: hidden;
}

/* Sidebar css */

.sidebar-container {
  z-index: 1;
  width: 100px;
  -ms-flex: 0 100px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  position: fixed;
  height: 100%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;

  .icon-elements:hover::after {
    content: "Elements";
    width: 90px;
    position: absolute;
    top: 4px;
    left: 54px;
    background: #0747a6;
    padding: 4px 5px;
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 1;
    font-size: 0.9rem;
  }
  .icon-elements:hover::before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 51px;
    background: #0747a6;
    padding: 4px 5px;
    color: #fff;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    z-index: 1;
  }

  .icon-shape:hover::after {
    @extend .icon-elements:hover::after;
    content: "Shapes";
  }
  .icon-shape:hover::before {
    @extend .icon-elements:hover::before;
  }

  .icon-frame:hover::after {
    @extend .icon-elements:hover::after;
    content: "Frames";
  }
  .icon-frame:hover::before {
    @extend .icon-elements:hover::before;
  }

  .icon-text:hover::after {
    @extend .icon-elements:hover::after;
    content: "Add Text";
  }
  .icon-text:hover::before {
    @extend .icon-elements:hover::before;
  }

  .icon-pencil:hover::after {
    @extend .icon-elements:hover::after;
    content: "Draw";
  }
  .icon-pencil:hover::before {
    @extend .icon-elements:hover::before;
  }
}

.secondary-sidebar-content::before {
  content: " ";
  position: absolute;
  top: 9px;
  left: -5px;
  background: #fff;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.secondary-sidebar-shapes {
  position: absolute;
  top: -57px;
}

.secondary-sidebar-elements {
  position: absolute;
  top: -97px;
}
